<div th:replace="shared/header"></div>
                <div class="container-fluid">

                    
                    <h1 class="h3 mb-2 text-gray-800" style="display: inline-block;">List of administrators</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                   
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                            <a href="/administrators/novo" class="btn btn-primary">Novo</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Observacao</th>
                                             
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Observacao</th>
                                        
                                        <th></th>
                                        <th></th>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="administrator : ${administrator}">
                                            <td th:text="${administrator.id}"></td>
                                            <td th:text="${administrator.nome}"></td>
                                            <td th:text="${administrator.email}"></td>
                                            
                                            <td><a th:href="@{'/administrators/' + ${administrator.id}}" class="btn btn-warning">Alterar</a></td>
                                            <!-- th:onclick="'window.location.href = \'' + @{/deviceevent/list/{id}(id=${deviceEvent.id})} + '\''" -->
                                            <td><a href="#" th:onclick="'if(confirm(\'Confirma?\')){window.location.href = \'' + @{/administrators/{id}(id=${administrator.id})} + '/excluir\'}'" class="btn btn-danger">Excluir</a></td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
              

            </div>
           
 <div th:replace="shared/footer"></div>  